%b.glyphicon.glyphicon-plus-sign.popover-buttons{ type: "button", 'data-container'=>'body', 'data-toggle'=>"popover", 'data-placement'=>'right', 'data-content'=>'Please Sign In For This Feature' }
	-# %b#popover-button.btn.btn-default{ type: "button", 'data-container'=>'body', 'data-toggle'=>"popover", 'data-placement'=>'right', 'data-content'=>'Cody' }