.fly-glyph
		= form_for(current_user.favorites.find_by(favorited_id: movie.id), html: {method: :delete}, class: 'glyph-box', remote: true) do |fav|
				= hidden_field_tag :index, index
				= link_to_submit( class: 'form-submitter' ) do
						%b.glyphicon.glyphicon-ok-circle#circle-glyph


-# :javascript
-# 	$(function() {
-# 	  $(".glyphicon-ok-circle").hover(function() {
-# 	    return $(this).toggleClass("glyphicon-ok-circle");
-# 	  });
-# 	  return $(".glyphicon-ok-circle").hover(function() {
-# 	    return $(this).toggleClass("glyphicon-remove-circle");
-# 	  });
-# 	});
