= form_for(current_user.favorites.find_by(favorited_id: movie.id), html: {method: :delete}, remote: true) do |fav|
	= hidden_field_tag :index, index
	%b.glyphicon.glyphicon-ok-circle
		= fav.submit nil, style: 'visibility: hidden;'