%h1
	%b Movies Go Here:
= form_tag("/results", method: "get", id: 'home-page') do |f|
	.col-m-offset-2

		= submit_tag 'Find!', class: "btn btn-latge btn-primary hidden-xs", id: 'big-btn'
		= text_field_tag :title
		= submit_tag 'Find!', class: "btn btn-latge btn-primary visible-xs col-xs-offset-4 ", id: 'small-btn'
