// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap/theme";

h1 {
  font-size: 3em;
  text-align: center;
  letter-spacing: -2px;
  line-height: 1;
}

li {
}

div#home {
  margin-top: 5em;
  margin-bottom: 5em;
  height: 100%;
}

.movie {
  background-color: $gray-lighter;
  padding: 0,0,0,0;
  margin: 0,0,0,0;
  height: 3em;
}

.inner-movie {
  border-bottom: 1px $gray-light solid;
}

.bottom-movie{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.top-movie{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.movie-number, .movie-name, [id*='favorite-form'] {
  position: inherit;
  height: inherit;
}

.fly{
  padding-top: 10px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: auto;
  padding-bottom: auto;
}

.fly-glyph{
  padding-top: 9px;
  height: 100%;
  width:  100%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: auto;
  padding-bottom: auto;
  b::before{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 1.5em;
  }
}


.movie-number {
  border-right: 2px solid $gray;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  vertical-align: middle;
  float: left;
  width: 36px;
}

a {
  &:hover {
    text-decoration: none;
    color: darkBlue;
  }
}

.movie-name {
  /* essential */
  text-overflow: ellipsis;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-left: 20px;
}

.glyphicon-remove-circle {
  color: red;
}


div[id*='favorite-form'] {
  opacity: 1.0;
  float: right;
  width: 3em;
  padding-left: 0px;
  padding-right: 0px;
  &:hover {
    opacity: 0.5;
  }
  .glyphicon{
    width: 100%;
    height: 100%;
  }
}

body {
  text-align: center;
  height: 100%;

}

body > * {
  text-align: left;

}

form#home-page {
  margin-top: 2em;
  text-align: center;
  input#small-btn {
    margin-top: .25em;
    text-align: center;
  }
}

div#search-form {
  margin-left: .25em;
}

div#popover-head {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.popover-sign-up-form{
  border-top: 1px $gray-lighter solid;
  width: 100%;
}

div.separating-or-div {
  text-align: center;
  width: 100%;
  display: inline-block;
}

span.separating-or-span {
  position: relative;
}

span.separating-line-span {
  background-color: black;
  position: relative;
  width: 40%;
  top: -.25em;
  height: 1px;
  float: none;
  display: inline-block;
}